<section>
  <h1 class='head'> Current Inventories</h1>

  <br />
  <div class='button_container'>
  <%= link_to 'Create inventory', new_inventory_path, class:'button' %>
  </div>
  <hr />
  
  <br />
  <% @inventories.each do |inventory| %>
    <ul class='inv_cont'>
      <li class='inv'> <%= render partial: 'partials/inventory', locals: { inventory:inventory } %> </li>
    </ul>
  <% end %>

  <br />
  <%= link_to 'Back', users_path %>
</section>