<h1>Inventories</h1>

<%= link_to 'Create inventory', new_inventory_path %>

<% @inventories.each do |inventory| %>
    <ul>
      <li> <%= render partial: 'partials/inventory', locals: { inventory:inventory } %> </li>
    </ul>
<% end %>

<%= link_to 'Back', users_path %>