<h1>PublicRecipes</h1>
<% @recipes.each do |recipe| %>
    <%= recipe.name %>
    By <%= recipe.user.name %>
<% end %>

Total food items: <%= @user_food_count %>
Total price: <%= @user_food_total_price %>

