<div class='inv_name'>
  <%= inventory.name %>
  
  <%= link_to 'Show', inventory %>
  <% if can? :manage, inventory %>
    <%= link_to 'Delete', inventory, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  <% else %>
   <p>---</p>
  <% end %>
</div>

<div class='inv_desc'>
  <%= inventory.description %>
</div>


