<div class='inv_name'>
  <%= inventory.name %>
  <%= link_to 'Show', inventory %>
  <%= link_to 'Delete', inventory, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
</div>

<div class='inv_desc'>
  <%= inventory.description %>
</div>


