<% if user_signed_in? %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
  <h1>Chefs</h1>  


  <h1>Welcome <%= current_user.name %> </h1>
  <%= render partial: 'partials/menu' %>

<% end %>