<% if user_signed_in? %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
  
  <h1>Welcome <%= current_user.name %> </h1>
  <%= render partial: 'partials/menu' %>
  <br>
  <h1>Chefs</h1>
  <% @user.each do |user| %>
    <ul>
      <li> <%= render partial: 'partials/user', locals: { user:user } %> </li>
    </ul>   
  <% end %>
<% end %>