
<%= link_to 'Add food', new_food_path %>

<% @foods.each do |food| %>
    <ul>
      <li>  <%= render partial: 'partials/food', locals: { food:food } %> </li>
    </ul>
<% end %>

<%= link_to 'back', users_path %>