
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Electrolize", sans-serif;
}

body {
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  margin-left: 0;
  list-style: none;
}

fieldset {
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  border: none;
  background-image: linear-gradient(to right, rgb(165, 214, 213), rgba(167, 209, 108, 0.857));
}

fieldset > legend {
  background: white;
  padding: 5px;
  border-radius: 5px;
}

.input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.actions {
  display: flex;
  justify-content: center;
}

.submit {
  padding: 5px;
  border: none;
  transition: box-shadow 0.3s ease-in-out;
}

.submit:hover {  
  border-radius: 10px;
  box-shadow: 0 6px 7px rgb(151, 120, 120);
}

section {
  padding: 5px;
  width: 70%;
  min-height: 100%;
  background: rgba(225, 233, 230, 0.465);
}

#sec-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding-right: 5px;
  margin-top: 130px;
  color: white;
  background: linear-gradient(to right, rgb(149, 194, 149), rgb(151, 120, 120));
}

.logout:hover {
  padding-left: 5px;
  background: linear-gradient(to right, rgba(151, 120, 120, 0.7), rgba(149, 194, 149, 0.7));  
}

.image {
  width: 100px;
  height: 100px;
}

.image:hover {
  border-radius: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.menu > li {
  border-left: 2px solid black;
  padding-left: 10px;
}

.users {
  display: flex;
  align-items: center;
  height: 40px;
}

.users:nth-child(odd) {
  background: linear-gradient(to right, rgba(149, 194, 149, 0.80), rgb(151, 120, 120, 0.2));
  margin-top: 5px;
  padding-left: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 50px;
}

.users:nth-child(odd):hover {
  background: linear-gradient(to right, rgb(151, 120, 120, 0.2), rgba(149, 194, 149, 0.80));
}

.users:nth-child(even){
  background: linear-gradient(to right, rgb(151, 120, 120, 0.20), rgb(149, 194, 149, 0.80));
  margin-top: 5px;
  padding-left: 10px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 20px;
}

.users:nth-child(even):hover {
  background: linear-gradient(to right, rgb(149, 194, 149, 0.80), rgb(151, 120, 120, 0.20));
}

.user-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 80px;
}

.user-show:nth-child(odd) {
  background: linear-gradient(to right, rgb(149, 194, 149, 0.80), rgb(151, 120, 120, 0.20));
}

.user-show:nth-child(even) {
  background: linear-gradient(to right, rgb(151, 120, 120, 0.20), rgb(149, 194, 149, 0.80));
}

.user-show_ {
  width: 50%;
  padding-left: 10px;
}

.head {
  color: rgb(149, 194, 149);
  display: flex;
  justify-content: center;
}

#chef {
  color: rgb(151, 120, 120);
}

.food_container {
  width: 100%;
  border-radius: 5px;
  border: 2px solid rgb(149, 194, 149);
}

.food_container:hover {
  box-shadow: 0 2px 5px;
  border: none;
}

.food {
  display: flex;
}

.food_list,
.food_list1 {
  border-right: 1px solid rgb(149, 194, 149);
  width: 25%;
  padding: 4px;
  height: 40px;
}

#price_align {
  text-align: right;
}

.food:nth-last-child(odd) {
  background: rgba(151, 120, 120, 0.2);
}

.food_action {
  padding: 4px;
}

.button_container {
  display: flex;
  justify-content: right;
}

.button,
.recipe_but {
  padding: 5px;
  border-radius: 5px;
}

.button:hover,
.recipe_but:hover {
  box-shadow: 0 2px 5px;
  border: none;
}

.inv_cont {
  margin-bottom: 5px;
  height: 100px;
  border: 2px solid rgb(151, 120, 120, 0.20);
}

.inv_cont:nth-child(odd) {
  background: linear-gradient(to right, rgb(151, 120, 120, 0.20), rgb(149, 194, 149, 0.80));
  border-top-left-radius: 20px;
  border-bottom-right-radius: 50px;
}

.inv_cont:nth-child(odd):hover {
  background: linear-gradient(to right, rgb(149, 194, 149, 0.80), rgb(151, 120, 120, 0.20));
}

.inv_cont:nth-child(even) {
  background: linear-gradient(to right, rgb(149, 194, 149, 0.80), rgb(151, 120, 120, 0.20));
  border-bottom-left-radius: 20px;
  border-top-right-radius: 50px;
}

.inv_cont:nth-child(even):hover {
  background: linear-gradient(to right, rgb(151, 120, 120, 0.20), rgb(149, 194, 149, 0.80));  
}

.inv_cont:hover {
  box-shadow: 0 2px 5px;
  border: none;
}

.inv {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.inv_name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  width: 50%;
  height: 88px;
}

.inv_desc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 5px;
}

.inv_food_cont {
  border: 2px solid rgb(151, 120, 120, 0.20);
  border-radius: 5px;
}

.inv_food_cont:hover {
  box-shadow: 0 2px 5px;
  border: none;
}

.inv_food_head {
  display: flex;
}

.inv_food_head:hover {
  border: none;
}

.inv_food_head:nth-child(odd) {
  background: rgb(149, 194, 149, 0.80);
}

.inv_food_lis {
  border-left: 2px solid rgb(151, 120, 120, 0.40);
  width: 33%;
  padding: 5px;
}

.recipe_cont {
  border: 2px solid rgb(149, 194, 149, 0.80);
  margin-top: 5px;
}


.recipe_cont:nth-child(odd) {
  background: linear-gradient(to right, rgb(151, 120, 120, 0.20), rgb(149, 194, 149, 0.80));  
  border-bottom-right-radius: 50px;
  border-top-left-radius: 20px;
}

.recipe_cont:nth-child(odd):hover {
  background: linear-gradient(to right, rgb(149, 194, 149, 0.80), rgb(151, 120, 120, 0.20));  
}

.recipe_cont:nth-child(even) {
  background: linear-gradient(to right, rgb(149, 194, 149, 0.80), rgb(151, 120, 120, 0.20));  
  border-top-right-radius: 50px;
  border-bottom-left-radius: 20px;
}

.recipe_cont:nth-child(even):hover {
  background: linear-gradient(to right, rgb(151, 120, 120, 0.20), rgb(149, 194, 149, 0.80));    
}

.recipe_cont > li {
  display: flex;
  padding: 2px;
}

.recipe_left,
.recipe_right {
  display: flex;
  flex-direction: column;
}

.recipe_left {
  width: 40%;
}

.recipe_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.recipe_show {
  display: flex;
  justify-content: space-between;
}

.public {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.recipe_buttons {
  display: flex;
  justify-content: space-between;
}

.recipe_f {
  border: 2px solid  rgb(149, 194, 149, 0.80);
}

.recipe_food_cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.recipe_food_cont:nth-child(odd) {
  background: rgb(151, 120, 120, 0.20);    
}

.recipe_food_items {
  width: 25%;
  padding: 5px;
  border-right: 2px solid rgb(149, 194, 149, 0.80);
}

.public_cont {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 2px solid rgb(149, 194, 149, 0.80);
  margin-bottom: 10px;
}

.public_cont:nth-child(odd) {
  background: linear-gradient(to right, rgb(151, 120, 120, 0.20), rgb(149, 194, 149, 0.80));    
}

.public_cont:nth-child(even) {
  background: linear-gradient(to right, rgb(149, 194, 149, 0.80), rgb(151, 120, 120, 0.20));    
}

.public_cont_left {
  width: 50%;
  background: linear-gradient(to right, rgb(149, 194, 149, 0.80), rgb(151, 120, 120, 0.20));    
}

.public_cont_right {
  width: 40%;
  background: linear-gradient(to right, rgb(151, 120, 120, 0.20), rgb(149, 194, 149, 0.80));      
}

.shoppy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.shop {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100%;
  border: 2px solid black;
}

.shop_ {
  width: 50%;
}

.shop_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.shop_list {
  display: flex;
  width: 80%;
}

.shop_list_items {
  border: 2px solid black;
  width: 33%;
  padding: 5px;
  border-right: 2px solid black;
}

@media screen and (max-width: 786px) {
  * {
    font-size: 16px;
  }

  .logout {
    width: 96%;
  }

  fieldset {
    width: 300px;
  }

  section {
    width: 96%;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
