
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Electrolize", sans-serif;
}

body {
  padding: 0.5vw 0.5vh;
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  margin-left: 0;
  list-style: none;
}

fieldset {
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  border: none;
  background-image: linear-gradient(to right, rgb(165, 214, 213), rgba(167, 209, 108, 0.857));
}

fieldset > legend {
  background: white;
  padding: 5px;
  border-radius: 5px;
}

.input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.actions {
  display: flex;
  justify-content: center;
}

.submit {
  padding: 5px;
  border: none;
}

.submit:hover {
  border-radius: 10px;
  border: 2px groove;
}

section {
  padding: 5px;
  width: 70%;
  min-height: 100%;
  background: rgba(225, 233, 230, 0.465);
}

#sec-align{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  color: white;
  background: rgb(50, 49, 49);
}

.menu {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.menu > li {
  border-left: 2px solid black;
  padding-left: 10px;
}

.users {
  display: flex;
  align-items: center;
  height: 40px;
}

.users:nth-child(odd) {
  background: rgb(165, 214, 213);
  margin-top: 5px;
  padding-left: 2px;
}

.user-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  height: 80px;
}

.user-show:nth-child(odd) {
  background: rgb(165, 214, 213);  
}

.user-show_ {
  width: 50%;
  padding-left: 10px;
}

.head {
  display: flex;
  justify-content: center;
}

.food_container {
  width: 100%;
  border-radius: 5px;
  border: 2px solid black;
}

.food_container:hover {
  box-shadow: 0 2px 5px;
  border: none;
}

.food {
  display: flex;
}

.food_list,
.food_list1 {
  border-right: 2px solid black;
  width: 25%;
  padding: 4px;
  height: 40px;
}

#price_align {
  text-align: right;
}

.food:nth-last-child(odd) {
  background: rgba(167, 209, 108, 0.857);
}

.food_list:nth-child(odd) {
  background: rgb(165, 214, 213);
}

.food_action {
  padding: 4px;
}

.button_container {
  display: flex;
  justify-content: right;
}

.button,
.recipe_but {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid black;
}

.button:hover,
.recipe_but:hover {
  box-shadow: 0 2px 5px;
  border: none;
}

.inv_cont {
  margin-bottom: 5px;
  height: 100px;
  border-radius: 5px;
  border: 2px solid black;
}

.inv_cont:nth-child(odd) {
  background: rgb(165, 214, 213);
}

.inv_cont:hover {
  box-shadow: 0 2px 5px;
  border: none;
}

.inv {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.inv_name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  width: 50%;
  height: 88px;
}

.inv_desc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 5px;
}

.inv_food_cont {
  border: 2px solid black;
  border-radius: 5px;
}

.inv_food_cont:hover {
  box-shadow: 0 2px 5px;
  border: none;
}

.inv_food_head {
  display: flex;
}

.inv_food_head:hover {
  border: none;
}

.inv_food_head:nth-child(odd) {
  background: rgb(165, 214, 213);
}

.inv_food_lis {
  border-left: 2px solid black;
  width: 33%;
  padding: 5px;
}

.recipe_cont {
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}

.recipe_cont:hover {
  border: none;
}

.recipe_cont:nth-child(odd) {
  background: rgb(165, 214, 213);
}

.recipe_cont > li {
  display: flex;
  padding: 5px;
}

.recipe_left,
.recipe_right {
  display: flex;
  flex-direction: column;
}

.recipe_left {
  width: 40%;
}

.recipe_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.recipe_show {
  display: flex;
  justify-content: space-between;
}

.public {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.recipe_buttons {
  display: flex;
  justify-content: space-between;
}

.recipe_f {
  border: 2px solid black;
}

.recipe_food_cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.recipe_food_cont:nth-child(odd) {
  background: rgb(168, 203, 202);
}

.recipe_food_items {
  width: 25%;
  padding: 5px;
  border-right: 2px solid black;
}

.public_cont {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 2px solid black;
  margin-bottom: 5px;
}

.public_cont_left {
  display: flex;
  justify-content: right;
  width: 30%;
}

.public_cont_right {
  display: flex;
  justify-content: right;
  width: 40%;
}

.shoppy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.shop {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100%;
  border: 2px solid black;
}

.shop_ {
  width: 50%;
}

.shop_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.shop_list {
  display: flex;
  width: 80%;
}

.shop_list_items {
  border: 2px solid black;
  width: 33%;
  padding: 5px;
  border-right: 2px solid black;
}

@media screen and (max-width: 786px) {
  * {
    font-size: 16px;
  }

  .logout {
    width: 96%;
  }

  fieldset {
    width: 300px;
  }

  section {
    width: 96%;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
